<ion-header>
  <ion-toolbar>
    <ion-item lines="none">
      <ion-title>Llista de Contactes</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-item-group *ngFor="let mapContact of contactBookService.mapContacts | keyvalue">
      <ion-item-divider>
        <ion-label> {{ mapContact.key }} </ion-label>
      </ion-item-divider>
      <a [routerLink]="['/contact/', contact.id]" routerLinkActive="router-link-active"
        *ngFor="let contact of mapContact.value ">
        <ion-item>
          <ion-icon slot="start" name="contact"></ion-icon>
          <ion-label>
            {{ contact.name }} {{ contact.lastName }}
          </ion-label>
        </ion-item>
      </a>
    </ion-item-group>
  </ion-list>
  <div>
    <a [routerLink]="['/add-contact']">
      <ion-fab-button>
        <ion-icon name="person-add"></ion-icon>
      </ion-fab-button>
    </a>
  </div>
</ion-content>